table.table {
  font-family: Arial, sans-serif;
  width: auto;
}

table .selected {
  background-color: #EEF4FF;
}

table .current {
  outline: 2px solid #5292F7;
}

/**
 * dragdealer
 */

.dragdealer {
  position: relative;
  width: 9px;
  height: 300px;
  background: #F8F8F8;
  border: 1px solid #DDD;
}

.dragdealer .handle {
  position: absolute;
  width: 9px;
  height: 9px;
  background: #C5C5C5;
}

.dragdealer .disabled {
  background: #898989;
}