table.table {
  font-family: Arial, sans-serif;
  width: auto;
}

table col {
  width: 65px;
}

table col.rowHeader {
  width: 70px;
}

table .area {
  background-color: #EEF4FF;
}

table .current {
  background-color: #FFF;
}

.wtBorder {
  position: absolute;
}

/**
 * dragdealer
 */

.dragdealer {
  position: relative;
  width: 9px;
  height: 9px;
  background: #F8F8F8;
  border: 1px solid #DDD;
}

.dragdealer .handle {
  position: absolute;
  width: 9px;
  height: 9px;
  background: #C5C5C5;
}

.dragdealer .disabled {
  background: #898989;
}